<div class="container mw-100" id="container">
  <header class="d-flex flex-wrap align-items-center  justify-content-md-between py-2 border-bottom">
    

    <div class="col-2 m-2 flex align-items-center">
      <img src="assets/paw-icon.svg" alt="">
      <span class="ml-3 fs-2">PATA</span>
    </div>


    <ul class="nav col-8 col-md-auto mb-2 justify-content-center mb-md-0 gap-3">
      <li><a href="#" class="nav-link px-2 text-white" id="home">HOME</a></li>
      <li><a href="#" class="nav-link px-2 text-white" id="animals">ANIMAIS</a></li>
      <li><a href="#" class="nav-link px-2 text-white" id="services">SERVIÇOS</a></li>
    </ul>

    <div class="col-md-2 text-end mb-md=0">
      <button type="button" class="btn me-2 text-white" >LOGIN</button>
    </div>
  </header>
</div>