<div class=" rounded w-[20%] h-[80%] ml-12 flex bg-white my-12 shadow-sm">

    <div class="m6 flex flex-col m-auto gap-3">

        <form action="" class="">

            <div class="my-3 mt-5">
                <label for="size">Tamanho</label>
                <select name="" id="size" class="form-select border border-red-500 bg-lilac rounded-full p-2 w-60">
                    <option value=""></option>
                </select>
            </div>

            <div class="my-3">
                <label for="gender">Sexo</label>
                <select name="" id="gender" class="form-select border border-red-500 bg-lilac rounded-full p-2 w-60">
                    <option value=""></option>
                </select>
            </div>

            <div class="my-3">
                <label for="age">Idade</label>
                <select name="" id="age" class="form-select border border-red-500 bg-lilac rounded-full p-2 w-60">
                    <option value=""></option>
                </select>
            </div>

            <div class="my-3">
                <label for="kids">Crianças</label>
                <select name="" id="kids" class="form-select border border-red-500 bg-lilac rounded-full p-2 w-60">
                    <option value=""></option>
                </select>
            </div>

            <div class="my-3">
                <label for="location">Localização</label>
                <select name="" id="location" class="form-select border border-red-500 bg-lilac rounded-full p-2 w-60">
                    <option value=""></option>
                </select>
            </div>

            <div class="my-3">
                <input type="checkbox" name="" id="" class="mr-2">
                <label for="xp">Experiência</label>
                <select name="" id="xp" class="form-select border border-red-500 bg-lilac rounded-full p-2 w-60">
                    <option value=""></option>
                </select>
            </div>
        </form>

    </div>
</div>