<div class="card mb-3 mx-auto m-5 shadow-sm p-3 mb-5 bg-body-tertiary rounded" style="max-width: 70%;">
  <div class="row g-0">
    <div class="col-md-6 ">
      <div class="col-md-10 mx-auto my-12">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <img src="https://imgupscaler.com/images/samples/animal-before.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cc-prod.scene7.com/is/image/CCProdAuthor/adobe-firefly-marquee-text-to-image-0-desktop-1000x1000?$pjpeg$&jpegSize=300&wid=1000" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/Screenshot_18.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
</div>
    <div class="col-md-6 my-16">
      <div class="card-body">
        <h5 class="card-title">Sobre Nós</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim fringilla magna, a scelerisque massa sagittis at. Praesent vitae diam lacus. Vestibulum dignissim, arcu eget molestie volutpat, ligula libero vulputate magna, ut pellentesque lacus diam nec velit. Proin vel purus sed orci volutpat accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed in nunc ut sem molestie cursus. Phasellus aliquet quam a dui ullamcorper cursus. Aliquam tempor lorem volutpat tortor vulputate, quis tempor ex eleifend. Cras interdum elit interdum, aliquet neque eu, laoreet orci. Cras ultrices tempus libero eget lobortis. Suspendisse id dui sit amet dui finibus rhoncus. Nulla venenatis, odio at rutrum fermentum, est odio feugiat mauris, ut mattis lorem nulla vitae nulla.</p>
      </div>
    </div>
  </div>
</div>